%% -*- mode: erlang; -*-
{erl_opts, [ % native
           debug_info
           , {parse_transform, lager_transform}
           ]}.

% {sub_dirs, [ ]}.
% {deps_dir, "deps"}.
{lib_dirs, [ "..", "deps" ]}.

{deps, [
         {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
       , {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}}
       , {ranch, ".*",  {git, "git://github.com/extend/ranch.git", "master"}}
       , {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}}

%       , {riak_pool, ".*", {git, "git://github.com/kvakvs/macaba-riak_pool.git", "master"}}
       , {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}}
%       , {gen_leader, ".*", {git, "git://github.com/garret-smith/gen_leader_revival.git", "master"}}
%       , {etoml, ".*", {git, "git://github.com/kalta/etoml.git", "master"}}
%       , {erlmarkdown, ".*", {git, "git://github.com/kvakvs/erlmarkdown.git", "master"}}
       ]}.
